{#
https://mozilla.github.io/server-side-tls/ssl-config-generator/
https://ssl-config.mozilla.org/#server=apache&version=2.4.29&config=intermediate&openssl=1.1.1&guideline=5.6
https://cipherli.st/
https://raymii.org/s/tutorials/Strong_SSL_Security_On_Apache2.html
#}

# enable HTTP/2, if available
Protocols h2 http/1.1

{# complicated by the fact that dict "skipped" does not exist if the task was not skipped,
and likewise dict filename or dict failed do not exist if the task was not executed... #}
{% if (dhparam_custom.skipped is defined and not dhparam_custom.skipped) or (dhparam_custom.filename is defined and dhparam_custom.filename != "") %}
# use our custom DH group
SSLOpenSSLConfCmd DHParameters {{ dhgroup_key }}
{% endif %}

# Mozilla SSL intermediate configuration
SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder off
SSLSessionTickets off

{#
# Don't use preloading HSTS for now.
# You can enable "preload" directive if you understand the implications.
Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
#}

# HTTP Strict Transport Security (63072000 seconds == 24 months)
Header always set Strict-Transport-Security "max-age=63072000"

# OCSP stapling
SSLUseStapling on
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"
